<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>375699502310-5jvbdhtvvlkg756cer6nm4d6i9nkob7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375699502310-5jvbdhtvvlkg756cer6nm4d6i9nkob7b</string>
	<key>API_KEY</key>
	<string>AIzaSyD2RgOQA0WPglm22jzaYTDYzrME6Bee8No</string>
	<key>GCM_SENDER_ID</key>
	<string>375699502310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hairfolio.hairfolio</string>
	<key>PROJECT_ID</key>
	<string>hairfolio-5e3ab</string>
	<key>STORAGE_BUCKET</key>
	<string>hairfolio-5e3ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375699502310:ios:cdc2d786e5fe7bf1</string>
	<key>DATABASE_URL</key>
	<string>https://hairfolio-5e3ab.firebaseio.com</string>
</dict>
</plist>