<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>74</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>155ec2281204750a42d11dbc5d628dfb9e52cd95</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Hairfolio uses the camera to record your profile picture</string>
	<key>NSContactsUsageDescription</key>
	<string>Hairfolio uses contacts to invite your friends.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Hairfolio uses your location to find users near you</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Hairfolio uses the microphone let you choose you use videos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Hairfolio uses the library to let you choose your profile picture</string>
	<key>UIAppFonts</key>
	<array>
		<string>hairfolio.ttf</string>
		<string>Avenir-Black.otf</string>
		<string>Avenir-BlackOblique.otf</string>
		<string>Avenir-Book.otf</string>
		<string>Avenir-BookOblique.otf</string>
		<string>Avenir-Heavy.otf</string>
		<string>Avenir-HeavyOblique.otf</string>
		<string>Avenir-Light.otf</string>
		<string>Avenir-LightOblique.otf</string>
		<string>Avenir-Medium.otf</string>
		<string>Avenir-MediumOblique.otf</string>
		<string>Avenir-Oblique.otf</string>
		<string>Avenir-Roman.otf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>SF-UI-Display-Regular.otf</string>
		<string>SF-UI-Display-Bold.otf</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>efsddf</key>
	<string></string>
</dict>
</plist>
